body, html {
  font-size: 13px;
  color: #202124;
  font-family: arial,sans-serif;
}

header{
   height: 60px;
   padding: 6px;
   margin: 0;
}

a {
    color: black;
}

.image{
    padding:15px;
}

a:hover{
  color: black;
}

span{
  color:#5f6368;
  padding: 8px;
}

.logo img {
  height: 92px;
}

.logo{
  max-width: 1536px; /* !!! */
  height: 161.6px; /* !!! */
  align-items: flex-end;
  display: flex;
  flex-dirflection: row; /* !!! */
  justify-content: center;
}

nav{
  display: flex;
  justify-content: flex-end;
  height: 48px;
  align-items: center;
  padding: 0px 4px 0px 32px;
}

nav img{
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

.avatar {
 padding: 4px; /* !!! */
}

div .avatar {
  padding: 4px;
  width: 100%;
  height: 100%;
}

div.dots {
  padding: 4px;
}

main  {
   /* Add flex: 1 */
}

 main p{
  margin: 0;
 }

.search {
  height: 74px; /* !!! */
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.material-symbols-outlined{
  font-size: 20px;
}

main span{
  padding: 0px;
  height: 25px;
  display: flex;
  color: grey;
  display: flex; /* !!! */
  justify-content: center;
  align-items: center;
  margin: auto;
}

.icon-search{
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  height: 44px;
  padding: 5px 0px;
  border-radius: 999px; /* !!! */
  width: 80vw;
  max-width: 582px;
}

.icon-search:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.language1{
  height: 244px; /* !!!!  */
}

.language{
  height: 28px;  /* !!!! */
  display: flex;
  justify-content: center;
  color: #5f6368;
  margin-bottom: 0px;
}

.language a{
  padding: 0px 3px;
  color: #1a0dab;
}

.button{
  justify-content: center;
  display: flex;
}

.button button{ /* !!! */
  margin: 25px 4px;
  padding: 8px 18px;
  background-color: #f8f9fa;
  border: 1px solid #dadce0; /* !!! */
  outline: none;
  border: none; /* !!! */
  cursor: pointer;
  border-radius: 6px;
  font-family: arial,sans-serif;
  font-size: 14px;
  color: #3c4043;
}

.button button:hover{
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

input{
  padding: 10px 20px;
  border: none;
  outline: none;
  height: 34px;
  width: 443px;
}

/* footer */

footer{
  background-color: #f2f2f2;
  color: #70757a;
}

.footer-one{
  height: 48.6px; /* !!! */
}

footer p{
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  margin: 0;
  height: 48px;
}

.footer-two{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 14px;
  height: 46.8px; /* !!! */
}

.left{
  align-items: center;
  display: flex;
}

.footer-two a{
  padding: 15px;
  color: #70757a;
}

.right {
  display: flex;
  align-items: center;
}

body, html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@media (max-width:500px){ /* !!! */
  body {
    width: 190vw;
  }
}
